<ng-container style="width: 100%">
<app-header class="example-header"></app-header>
<app-side-menu></app-side-menu>
    <mat-sidenav-container class="example-container" [hasBackdrop]="showSideMenu" (backdropClick)="hideMenu()">
  <!-- MENU SIDEBAR-->
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   [fixedInViewport]="false" position="start" disableClose>
    <app-product-category-menu></app-product-category-menu>
      </mat-sidenav>
  <!-- END MENU SIDEBAR-->
      <mat-sidenav-content class="example-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    <!-- HEADER DESKTOP-->
    </mat-sidenav-container>
<!-- END PAGE CONTAINER-->
<app-footer class="example-footer"></app-footer>
</ng-container>
