<div class="login-status-header">

<div class="login-status-title">
  <span  class="user-icon"><mat-icon class="user-mat-icon">person_outline</mat-icon></span>
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    <p >
      <span class="user-info">  {{userFullName}} </span> {{userEmail}}
    </p>
  </div>
  <button *ngIf="!isAuthenticated" mat-button routerLink="/login">Login</button>
</div>
</div>
  <mat-list>
    <button mat-list-item *ngIf="isAuthenticated" routerLink="/members">Member</button>
    <button mat-list-item *ngIf="isAuthenticated" routerLink="/order-history">Orders</button>
    <button mat-list-item *ngIf="isAuthenticated" routerLink="/order-history">Favorite</button>
    <hr>
    <button mat-list-item (click)="logout()" *ngIf="isAuthenticated">Logout</button>
  </mat-list>


