.highlight {
  background-color: grey;
}

.example-card {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  cursor: pointer;
}

.products {
  flex-wrap: wrap;
}

.mat-card-title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-card-image {
  margin: 0;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.category-title {
  margin: 10px 0 0 10px;
}

.color_grey {
  color: #757575;
}

.sale-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}


@media screen and (max-width: 768px) {
  ::ng-deep .mat-paginator-page-size{
    display: none !important;
  }

  ::ng-deep .mat-paginator-range-label{
    display: none !important;
  }

  ::ng-deep .mat-paginator-container {
   justify-content: center;
  }

  .sale-title {
    font-size: 20px;
    margin: 0;
  }
}
